.container {
  padding: 0.5rem 1rem;
}

.brand-color {
  color: #0097e6;
}

.branding {
  font-size: 2rem;
  font-weight: bolder;
  color: #0097e6;
}

.list ul li {
  margin: 0.8rem 0rem;
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
}