.container {
  min-height: 100vh;
  padding: 0.5rem 1rem;
}

.brand-color {
  color: #0097e6;
}

.branding {
  font-size: 2rem;
  font-weight: bolder;
  color: #0097e6;
}

.list ul li {
  margin: 0.8rem 0rem;
  font-size: 1.2rem;
}